<header>
<h1 class="title"><%-title%></h1>
<div class=homePanel>
    <a href="/" class=topmenu>Home</a>
    <a href="/" class=topmenu>Search</a>
    <a href="/login" class=topmenu>Login</a>
    <a href="/register" class=topmenu>Register</a>
</div>
</header>