body{
    background-image: url('/images/venue2.jpg');
    background-size: cover;
}
.main-content{
    text-align:center;
    font-size:1.5vw;
    font-family: "Times New Roman", Times, serif;

}
.title{
    /* margin-top:2.5vw; */
    color:rgb(250, 147, 28);
    border:outset;
    background-color: white;
    text-align: center;
    font-size: 2vw;
    padding:1vw;
}
a {
    text-decoration: none;
    color:rgb(223, 219, 219);
}
.homePanel{
    margin-bottom:1vw;
    text-align: center;
    font-size: 1.5vw;
}
.topmenu{
    margin:7vw;
    color:white;
}